@model Transaction

@{
    ViewData["Title"] = "Detaljer";
}

<h2>Transaktionsdetlajer</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BankAccountId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BankAccountId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreationTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreationTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Deposit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Deposit)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Withdraw)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Withdraw)
        </dd>
    </dl>
</div>
<div>
    @{var listString = "Index/" + Model.BankAccountId; }
    <p>
        <a asp-action="Edit" asp-route-id="@Model.Id">&#196;ndra</a> |
        <a asp-action="@listString">Tillbaka till listan</a>
    </p>
</div>