@model WebWalletClient.Models.TransactionViewModel.TransactionListViewModel
@{
    ViewData["Title"] = "Transaktioner";
}
<h2>Transaktioner</h2>
<table>
    <tr class="page-header">Transaktioner f&#246;r konto:</tr>
    <tr>
        <td class="table-footnote">
            @Html.DropDownList("TransactionsForBankAccount", Model.BankAccountSelectList, new { onchange = "ShowTransactions()" })
        </td>
    </tr>
</table>
<script type="text/javascript">
    function ShowTransactions() {
        window.location = "/Transaction/Index/" + $('#TransactionsForBankAccount').val();
    }
</script>
@{var createString = "Create/" + ViewBag.BankAccountId; }
<p>
    <a asp-action="@createString">Skapa ny</a>
</p>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Transactions[0].BankAccountId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transactions[0].CreationTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transactions[0].Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transactions[0].Deposit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transactions[0].Withdraw)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Transactions)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BankAccountId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Deposit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Withdraw)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">&#196;ndra</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detaljer</a> |
                </td>
            </tr>
        }
        <tr>
            <td></td>
            <td></td>
            <th>
                Saldo:
            </th>
            <th colspan="2">
                @ViewBag.Saldo
            </th>
            <td></td>
        </tr>
    </tbody>
</table>